<form action="/robots" method="post">
  <h3>Model:</h3>
  <br>
  <input type="text" name="robot[model]">
  <br>
  <h3>Description</h3>
  <br>
  <textarea name="robot[description]"></textarea>
  <br>
  <input type="submit">
</form>
